<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenBabel.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenBabel.Resources.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenBabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ScreenBabel.Test>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
        </ScreenBabel.Test>
        <ScreenBabel.Resources.Setting>
            <setting name="RecognitionMode" serializeAs="String">
                <value>YouDao</value>
            </setting>
            <setting name="YouDaoAppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="YouDaoAppSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="YouDaoOCRApi" serializeAs="String">
                <value>https://openapi.youdao.com/ocrtransapi?from=auto&amp;to=zh-CHS</value>
            </setting>
            <setting name="AzureOCRKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureOCRApi" serializeAs="String">
                <value>https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/ocr?language=unk&amp;detectOrientation=true</value>
            </setting>
            <setting name="AzureTransKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureTransApi" serializeAs="String">
                <value>https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&amp;to=zh-Hans</value>
            </setting>
            <setting name="TesseractData" serializeAs="String">
                <value>./tessdata</value>
            </setting>
        </ScreenBabel.Resources.Setting>
        <ScreenBabel.Properties.Settings>
            <setting name="MainWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="OutputWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OutputHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="OutputLeft" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="OutputTop" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="SettingWidth" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="SettingHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SettingLeft" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="SettingTop" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="MainTitleVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="IntervalTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </ScreenBabel.Properties.Settings>
    </userSettings>
</configuration>